<div class="main">
<h4>Contact</h4>
    <div class="items">
        <!-- will be array inside array -->
        <!-- work with foreach wor just for inside for-->
        <div *ngFor="let contact of contactService.contacts[0]" class="item">
            <div class="item-image">
                <img src="/assets/icons/contact.png" width="50" height="50">
            </div>
            <div class="item-name">
                {{ contact.firstName }}
                {{ contact.lastName }}
            </div>    
        </div>

    </div>

</div>