<div class="main">
        <h4>Messages</h4>

    <div class="items">


        <div *ngFor="let chat of chatService.chats" class="item">
            <div class="item-image">
                <img src="/assets/icons/contact.png" width="50" height="50">
            </div>

            <div class="item-detail">
                <div class="item-name">
                    {{ chat[0].users[0].firstName }}
                    {{ chat[0].users[0].lastName }}
                </div>
                <div class="item-last-msg">
                    <div>{{ chat[0].msg[0].body }}</div>
                    <div>{{ chat[0].msg[0].createdAt | date }}</div>
                </div>
            </div>

        </div>

        
    </div>

</div>