<div class="main">

    <div class="header">

        <div>
            <img src="/assets/icons/contact.png" width="100px" height="100px">
        </div>
        <div>
            <h2>Fname Lname</h2>
        </div>

    </div>

    <div class="info">
        <h4>Information</h4>
        <div class="info-item">
            <div class="info-item-title">
                Age
            </div>
            <div class="info-item-data">
                28
            </div>
        </div>

        <div class="info-item">
            <div class="info-item-title">
                Country
            </div>
            <div class="info-item-data">
                Tunsiia
            </div>
        </div>

        <div class="info-item">
            <div class="info-item-title">
                City
            </div>
            <div class="info-item-data">
                Monastir
            </div>
        </div>

    </div>

</div>