<div class="main">

    <div class="header">
        <h2> Name prenom </h2>
    </div>


    <div class="body">

        <div *ngFor="let msg of messageService.messages; let i = index"   class="message">
            <div [ngClass]="{'message-rcv': userId!=msg._id._id, 'message-send': userId==msg._id._id}">

                <div  *ngIf="i==0 || (i>0 && msg._id._id != messageService.messages[i-1]._id._id)" class="message-sender">
                    <img src="/assets/icons/contact.png" width="30" height="30" alt="qsdf">
                </div>
                <div  class="message-body">
                    <span> {{msg.body}} </span>
                </div>
                
                <div class="message-date">
                    {{msg.createdAt}}
                </div>
                
            </div>
            
        </div>

       


    </div>

    <form [formGroup]="form" class="footer" (submit)="sendMessage()">
        <div>
            <textarea formControlName="body" placeholder="Write a message ..."></textarea>
        </div>
        <div>
            <button>Send</button>
        </div>
    </form>

</div>