<div class="main">

    <div class="header">
        <h2> Name prenom </h2>
    </div>


    <div class="body">

        <div class="message">
            <div class="message-rcv">

                <div class="message-sender">
                    <img src="/assets/icons/contact.png" width="30" height="30" alt="qsdf">
                </div>
                <div class="message-body">
                    <span>message body message body</span>
                    <span>message body message body</span>
                </div>
                <div class="message-date">
                    10/20/2019 13:12
                </div>
                
            </div>
            
        </div>

        <div class="message">
            <div class="message-send">
                <div class="message-sender">
                    <img src="/assets/icons/contact.png" width="30" height="30">
                </div>
                <div class="message-body">
                    <span>message body msgfs sdfg sdfg sdf gsd gsd gsdfg sd sdfg sdfg sdg sdfg essage body</span>
                    <span>message body message body</span>
                </div>
                <div class="message-date">
                    10/20/2019 13:12
                </div>
            </div>
        </div>

        <!-- delete-->
        <div class="message">
            <div class="message-rcv">

                <div class="message-sender">
                    <img src="/assets/icons/contact.png" width="30" height="30" alt="qsdf">
                </div>
                <div class="message-body">
                    <span>message body message body</span>
                    <span>message body message body</span>
                </div>
                <div class="message-date">
                    10/20/2019 13:12
                </div>
                
            </div>
            
        </div>

        <div class="message">
            <div class="message-send">
                <div class="message-sender">
                    <img src="/assets/icons/contact.png" width="30" height="30">
                </div>
                <div class="message-body">
                    <span>message body msgfs sdfg sdfg sdf gsd gsd gsdfg sd sdfg sdfg sdg sdfg essage body</span>
                    <span>message body message body</span>
                </div>
                <div class="message-date">
                    10/20/2019 13:12
                </div>
            </div>
        </div>
        <div class="message">
            <div class="message-rcv">

                <div class="message-sender">
                    <img src="/assets/icons/contact.png" width="30" height="30" alt="qsdf">
                </div>
                <div class="message-body">
                    <span>message body message body</span>
                    <span>message body message body</span>
                </div>
                <div class="message-date">
                    10/20/2019 13:12
                </div>
                
            </div>
            
        </div>

        <div class="message">
            <div class="message-send">
                <div class="message-sender">
                    <img src="/assets/icons/contact.png" width="30" height="30">
                </div>
                <div class="message-body">
                    <span>message body msgfs sdfg sdfg sdf gsd gsd gsdfg sd sdfg sdfg sdg sdfg essage body</span>
                    <span>message body message body</span>
                </div>
                <div class="message-date">
                    10/20/2019 13:12
                </div>
            </div>
        </div>
        <div class="message">
            <div class="message-rcv">

                <div class="message-sender">
                    <img src="/assets/icons/contact.png" width="30" height="30" alt="qsdf">
                </div>
                <div class="message-body">
                    <span>message body message body</span>
                    <span>message body message body</span>
                    <span>message bod</span>
                </div>
                <div class="message-date">
                    10/20/2019 13:12
                </div>
                
            </div>
            
        </div>

        <div class="message">
            <div class="message-send">
                <div class="message-sender">
                    <img src="/assets/icons/contact.png" width="30" height="30">
                </div>
                <div class="message-body">
                    <span>message body msgfs sdfg sdfg sdf gsd gsd gsdfg sd sdfg sdfg sdg sdfg essage body</span>
                    <span>message body message body</span>
                </div>
                <div class="message-date">
                    10/20/2019 13:12
                </div>
            </div>
        </div>
        <!-- delete -->


    </div>

    <div class="footer">
        <div>
            <textarea placeholder="Write a message ..."></textarea>
        </div>
        <div>
            <button>Send</button>
        </div>
    </div>

</div>