<div class="main">

    <div class="header">
        
        <!-- Chat -->
        <div class="header-item">
            <div>
                <a [routerLink]="['chat']"><img src="/assets/icons/chat.png" width="40" height="40"></a>
            </div>
        </div>
        <!-- Contact -->
        <div class="header-item">
            <div>
                <a [routerLink]="['contact']"><img src="/assets/icons/contact.png" width="40" height="40"></a>
            </div>
        </div>
        <!-- Favorites -->
        <div class="header-item">
            <div>
                <a [routerLink]="['favorite']"><img src="/assets/icons/favorite.png" width="40" height="40"></a>
            </div>
        </div>

    </div>
    
    <div class="div-search">
        <input type="text" placeholder="Search">
    </div>


    <div>
        <router-outlet></router-outlet>
    </div>
</div>