<div class="main">

    <h2>Settings</h2>

    <div class="items">
        <div class="form-group">
            <div class="form-item-label">
                Username:
            </div>
            <div class="form-item-control">
                <input type="text" autofocus class="form-item form-item-input" placeholder="Username">
            </div>
            <div class="form-item-error">
                <img src="/assets/icons/error.png" width="20px" height="20px">
                <span>Invalide username</span>
            </div>
        </div>

        <div class="form-group">
            <div class="form-item-label">
                Email:
            </div>
            <div class="form-item-control">
                <input type="text" autofocus class="form-item form-item-input" placeholder="Email">
            </div>
            <div class="form-item-error">
                <img src="/assets/icons/error.png" width="20px" height="20px">
                <span>Invalide email</span>
            </div>
        </div>

        <div class="form-group">
            <div class="form-item-label">
                Password:
            </div>
            <div class="form-item-control">
                <input type="text" autofocus class="form-item form-item-input" placeholder="Password">
            </div>
            <div class="form-item-error">
                <img src="/assets/icons/error.png" width="20px" height="20px">
                <span>Invalide password</span>
            </div>
        </div>

        <div class="form-group">
            <div class="form-item-label">
                First name:
            </div>
            <div class="form-item-control">
                <input type="text" autofocus class="form-item form-item-input" placeholder="First name">
            </div>
            <div class="form-item-error">
                <img src="/assets/icons/error.png" width="20px" height="20px">
                <span>Invalide First name</span>
            </div>
        </div>

        <div class="form-group">
            <div class="form-item-label">
                Last name:
            </div>
            <div class="form-item-control">
                <input type="text" autofocus class="form-item form-item-input" placeholder="Last name">
            </div>
            <div class="form-item-error">
                <img src="/assets/icons/error.png" width="20px" height="20px">
                <span>Invalide Last name</span>
            </div>
        </div>

       <div class="form-group">
           <div class="form-item-control">
                <button type="submit" class="form-item form-item-button">Update</button>
           </div>
            <div class="form-item-error">
                <img src="/assets/icons/error.png" width="20px" height="20px">
                <span>Username or password invalid</span>
            </div>
       </div>
    </div>
</div>